<a class="weatherwidget-io" href="https://forecast7.com/en/n7d70109d02/cilacap/" data-label_1="CILACAP" data-label_2="WEATHER"
  data-theme="original">WEATHER</a>
<script>
  !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://weatherwidget.io/js/widget.min.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "weatherwidget-io-js");
</script>
<br></br>
<div class="row">
    <div class="col-md-5" class="col-lg-10">
    <div class="card">
        <div class="card-header">
          Bar Chart
          <div class="card-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas id="canvas-2"></canvas>
          </div>
        </div>
      </div>
    </div>
  


  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <i class="icon-check"></i>Data PLC
        <ul class="nav nav-tabs float-right" role="tablist">
          <li class="nav-item">
            <a tab="" class="nav-link active" data-toggle="tab" href="#hsrg1" role="tab">HSRG 1</a>
          </li>
          <li class="nav-item">
            <a tab="" class="nav-link" data-toggle="tab" href="#hsrg2" role="tab">HSRG 2</a>
          </li>
        </ul>
      </div>
      <div class="card-body p-0">
        <div class="tab-content">
          <div class="tab-pane active" id="hsrg1">
            <table class="table table-hover table-align-middle mb-0">
              <thead>
                <tr>
                  <th>Gas</th>
                  <th>Data</th>
                  <th>Presentase</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.CO.quality=='BAD'"></i>CO</td>
                  <td>{{tags.hrsg1.CO.value}}</td>
                  <td>{{tags.hrsg1.CO.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.CO2.quality=='BAD'"></i>CO2</td>
                  <td>{{tags.hrsg1.CO2.value}}</td>
                  <td>{{tags.hrsg1.CO2.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.FLOW.quality=='BAD'"></i>FLOW</td>
                  <td>{{tags.hrsg1.FLOW.value }}</td>
                  <td>{{tags.hrsg1.FLOW.persen}}%</td>
                  </td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.NOX.quality=='BAD'"></i>NOX</td>
                  <td>{{tags.hrsg1.NOX.value }}</td>
                  <td>{{tags.hrsg1.NOX.persen }}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.O2.quality=='BAD'"></i>O2</td>
                  <td>{{tags.hrsg1.O2.value }}</td>
                  <td>{{tags.hrsg1.O2.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.OPACITY.quality=='BAD'"></i>OPACITY</td>
                  <td>{{tags.hrsg1.OPACITY.value }}</td>
                  <td>{{tags.hrsg1.OPACITY.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.DUST.quality=='BAD'"></i>DUST</td>
                  <td>{{tags.hrsg1.DUST.value }}</td>
                  <td>{{tags.hrsg1.DUST.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg1.SO2.quality=='BAD'"></i>SO2</td>
                  <td>{{tags.hrsg1.SO2.value }}</td>
                  <td>{{tags.hrsg1.SO2.persen}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="hsrg2">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>Gas</th>
                  <th>Data</th>
                  <th>Presentase</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.CO.quality=='BAD'"></i>CO</td>
                  <td>{{tags.hrsg2.CO.value}}</td>
                  <td>{{tags.hrsg2.CO.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.CO2.quality=='BAD'"></i>CO2</td>
                  <td>{{tags.hrsg2.CO2.value }}</td>
                  <td>{{tags.hrsg2.CO2.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.FLOW.quality=='BAD'"></i>FLOW</td>
                  <td>{{tags.hrsg2.FLOW.value }}</td>
                  <td>{{tags.hrsg2.FLOW.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.NOX.quality=='BAD'"></i>NOX</td>
                  <td>{{tags.hrsg2.NOX.value }}</td>
                  <td>{{tags.hrsg2.NOX.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.O2.quality=='BAD'"></i>O2</td>
                  <td>{{tags.hrsg2.O2.value }}</td>
                  <td>{{tags.hrsg2.O2.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.OPACITY.quality=='BAD'"></i>OPACITY</td>
                  <td>{{tags.hrsg2.OPACITY.value }}</td>
                  <td>{{tags.hrsg2.OPACITY.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.DUST.quality=='BAD'"></i>DUST</td>
                  <td>{{tags.hrsg2.DUST.value }}</td>
                  <td>{{tags.hrsg2.DUST.persen}}%</td>
                </tr>
                <tr>
                  <td><i class="fa fa-exclamation" v-if="tags.hrsg2.SO2.quality=='BAD'"></i>SO2</td>
                  <td>{{tags.hrsg2.SO2.value }}</td>
                  <td>{{tags.hrsg2.SO2.persen}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
    // without jQuery (doesn't work in older IEs)
    document.addEventListener('DOMContentLoaded', documentReady, false);

    function documentReady() {


    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var barChartData = {
      labels : ['January','February','March','April','May','June','July'],
      datasets : [
        {
          backgroundColor : 'rgba(220,220,220,0.5)',
          borderColor : 'rgba(220,220,220,0.8)',
          highlightFill: 'rgba(220,220,220,0.75)',
          highlightStroke: 'rgba(220,220,220,1)',
          data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
        },
        {
          backgroundColor : 'rgba(151,187,205,0.5)',
          borderColor : 'rgba(151,187,205,0.8)',
          highlightFill : 'rgba(151,187,205,0.75)',
          highlightStroke : 'rgba(151,187,205,1)',
          data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
        }
      ]
    }

    
      var ctx = document.getElementById('canvas-2');
      var chart = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
          responsive: true
        }
      });
  
    }

  </script>