<footer class="app-footer">
  <!-- <span> -->
    <!-- <a href="http://i6monitor.com">i6</a> © 2018</span> -->
  <span class="ml-auto">
    <iframe src="http://free.timeanddate.com/clock/i63d9k7b/n108/tlid38/fn7/fs13/tct/pct/ftb/tt0/tw1/tm1/td1/th1" frameborder="0" width="193" height="20" allowTransparency="true"></iframe> 
  </span>
</footer>
