<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= sails.config.customs.baseUrl %>view">
          <i class="icon-menu"></i> Dashboard
          <!-- <span class="badge badge-primary">NEW</span> -->
        </a>
      </li>
      
      <% if(req.me && req.me.isChef){ %>
        <% include sidebar_chef %>
      <% } %>

      
      <li class="nav-title">
        Device
      </li>
      <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="icon-settings"></i> DATA</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" href="hsrg1">
                <i class="icon-book-open"></i> HSRG 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hsrg2">
                <i class="icon-book-open"></i> HSRG 2</a>
            </li>
          </ul>
        </li>
   
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="icon-star"></i> REPORT</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="report1" target="_top">
              <i class="icon-speedometer"></i> HSRG 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="report2" target="_top">
              <i class="icon-speedometer"></i> HSRG 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
