<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= sails.config.customs.baseUrl %>view">
          <i class="icon-menu"></i> Dashboard
          <span class="badge badge-primary">NEW</span>
        </a>
      </li>
      
      <% if(req.me && req.me.isChef){ %>
        <% include sidebar_chef %>
      <% } %>

      
      <li class="nav-title">
        Device
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="icon-settings"></i> HSRG 1</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="HSRG1/data">
              <i class="icon-speedometer"></i> DATA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="HSRG1/report">
              <i class="icon-book-open"></i> Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="HSRG1/">
              <i class="icon-puzzle"></i> Carousel</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="icon-settings"></i> HSRG 2</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="base-breadcrumb.html">
              <i class="icon-speedometer"></i> DATA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base-cards.html">
              <i class="icon-book-open"></i> Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base-carousel.html">
              <i class="icon-puzzle"></i> Carousel</a>
          </li>
        </ul>
      </li>
   
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="pages-login.html" target="_top">
              <i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-register.html" target="_top">
              <i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-404.html" target="_top">
              <i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-500.html" target="_top">
              <i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
