<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">DATA PLC</h4>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary active">
              <input name="options" id="option1" autocomplete="off" type="radio"> Day
            </label>
            <label class="btn btn-outline-secondary">
              <input name="options" id="option2" autocomplete="off" checked="" type="radio"> Month
            </label>
            <label class="btn btn-outline-secondary">
              <input name="options" id="option3" autocomplete="off" type="radio"> Year
            </label>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas width="1047" style="display: block;" id="main-chart" class="chart chartjs-render-monitor" height="300"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <div class="text-muted">CO</div>
          <strong>{{tags.report1.CO.value}}</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="d-none d-md-table-cell">
          <div class="text-muted">CO2</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li>
          <div class="text-muted">FLOW</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="d-none d-md-table-cell">
          <div class="text-muted">NOX</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="d-none d-md-table-cell">
            <div class="text-muted">O2</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="d-none d-md-table-cell">
            <div class="text-muted">OPACITY</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="d-none d-md-table-cell">
            <div class="text-muted">DUST</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="d-none d-md-table-cell">
            <div class="text-muted">SO2</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        
        <li class="d-none d-md-table-cell">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>