<!-- <div class="card">
  <div class="card-header">
    <i class="fa fa-edit"></i> Data PLC
    <div class="card-actions">
      <a href="https://datatables.net">
        <small class="text-muted">HSRG 1</small>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer" id="DataTables_Table_0_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div id="DataTables_Table_0_length" class="dataTables_length">
            <label>Show entries</label>
          </div>
        </div>
       
        <div class="row">
          <div class="col-sm-12">
            <table style="border-collapse: collapse !important" aria-describedby="DataTables_Table_0_info" role="grid" id="DataTables_Table_0"
              class="table table-striped table-bordered datatable dataTable no-footer">
              <thead>
                <tr role="row">
                  <center>
                    <th aria-label="Gas: activate to sort column descending" aria-sort="ascending" style="width: 180px;" colspan="1" rowspan="1"
                      aria-controls="DataTables_Table_0" tabindex="0" class="sorting_asc">
                      <center>Gas</center>
                    </th>
                    <th aria-label="Satuan: activate to sort column ascending" style="width: 180px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0"
                      tabindex="0" class="sorting">
                      <center>Satuan</center>
                    </th>
                    <th aria-label="Parameter Minimum: activate to sort column ascending" style="width: 200px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0"
                      tabindex="0" class="sorting">
                      <center>Parameter (Min - Max)</center>
                    </th>
                    <th aria-label="Parameter Maksimum: activate to sort column ascending" style="width: 220px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0"
                      tabindex="0" class="sorting">
                      <center>???</center>
                    </th>
                    <th aria-label="Keterangan: activate to sort column ascending" style="width: 300px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0"
                      tabindex="0" class="sorting">Keterangan</th>
                </tr>
              </thead>
              <tbody>

                <tr class="odd" role="row">
                  <td class="sorting_1">CO</td>
                  <td>ppm</td>
                  <td>0 - 100</td>
                  <td>??</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>
                    </a>
                  </td>
                </tr>
                <tr class="even" role="row">
                  <td class="sorting_1">CO2</td>
                  <td>vol%</td>
                  <td>0 - 5</td>
                  <td></td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>
                    </a>
                  </td>
                </tr>
                <tr class="odd" role="row">
                  <td class="sorting_1">FLOW</td>
                  <td>m3/s</td>
                  <td>0 - 1400</td>
                  <td>1400</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>

                    </a>
                  </td>
                </tr>
                <tr class="even" role="row">
                  <td class="sorting_1">NOX</td>
                  <td>ppm</td>
                  <td>0 - 400</td>
                  <td>400</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>
                    </a>
                  </td>
                </tr>
                <tr class="odd" role="row">
                  <td class="sorting_1">O2</td>
                  <td>vol%</td>
                  <td>0 - 5</td>
                  <td>5</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>
                    </a>
                  </td>
                </tr>
                <tr class="even" role="row">
                  <td class="sorting_1">OPACITY</td>
                  <td>%</td>
                  <td>0 - 100</td>
                  <td>100</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>

                    </a>
                  </td>
                </tr>
                <tr class="odd" role="row">
                  <td class="sorting_1">DUST</td>
                  <td>mg/m3</td>
                  <td>0 - 100</td>
                  <td>100</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>

                    </a>
                  </td>
                </tr>
                <tr class="odd" role="row">
                  <td class="sorting_1">SO2</td>
                  <td>ppm</td>
                  <td>0 - 100</td>
                  <td>100</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o "></i>

                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card">
  <div class="card-header">
    Grafik
    <div class="card-actions">
    </div>
  </div>
  <div class="card-body">
    <div class="chart-wrapper">
      <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
      </div>
      <canvas class="chartjs-render-monitor" height="523" width="1047" style="display: block;" id="canvas-2"></canvas>
    </div>
  </div>
</div>