<div class="card-body">
    <div class="card-title text-center h6 mt-3">
      Pageviews
    </div>
    <div class="gaugejs-wrap">
      <canvas width="208" height="104" id="gauge4" class="gaugejs"></canvas>
    </div>
  </div>